/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* resetoidaan tyylitiedostot muotoilun helpottamiseksi*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Muotoilu alkaa
    tästä alaspain*/


body {
    background-color: aliceblue;
    height: 100%;

}

#header-wrapper {
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,49,168,1) 0%, rgba(70,142,255,1) 100%);
    height: 70px;
    width: 100%;
}

h1 {
    font-size: 2.5em;
    color: floralwhite;
    padding: 15px;
}

#nav {
    padding: 23px;
}

li {
    display:inline-block;
    background-color: aliceblue;
    padding: 6px;
    border-radius: 30px;
    min-width: 130px;
    text-align: center;
    margin-left: 10px;
}

#flex-container {
    display: flex;
    height: 1200px;
}

#first {
    background-color: #f6f6f6;
    flex-grow: 2;
    align-items: stretch;
}

#second {
    background-color: #c3c3c3;
    flex-grow: 2;
    align-items: stretch;
}

#third {
    background-color: #f6f6f6;
    flex-grow: 2;
    align-items: stretch;
}

#fourth {
    background-color: #c3c3c3;
    flex-grow: 2;
    align-items: stretch;
}

body.front li#frontpg {
    background-color: #2faffa;
    color: floralwhite;
}

body.archive li#archive {
    background-color: #2faffa;
    color: floralwhite;
}

a {
    text-decoration: none;
}

a:active {
    color: #2faffa;
}

a:hover {
    font-weight: bold;
}